@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer utilities {
  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pb-nav {
    padding-bottom: calc(4rem + env(safe-area-inset-bottom));
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}